#tituloYahoo {
    font-weight: 700; 
    text-align: center; 
    font-family: Arial
}
yahooImg {
    width:300px;
}
#tituloGoogle {
    font-weight: 700; 
    text-align: center; 
    font-family: Arial
}
#googleImg {
    width:300px;
}
#tituloMsn {
    font-weight: 700; 
    text-align: center; 
    font-family: Arial
}
#msnImg {
    width:300px;
}




