<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="SQL2008" connectionString="Server=ANDREUDEKKER_; database=Northwind;Integrated Security=TRUE" />
    <add name="WinBDCrud.Properties.Settings.SQL2008" connectionString="Data Source=ANDREUDEKKER_;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>