<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IgetNumbersbinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://reto.checkit.ch/scripts/lotto.dll/soap/IgetNumbers"
                binding="basicHttpBinding" bindingConfiguration="IgetNumbersbinding"
                contract="ServiceReference1.IgetNumbers" name="IgetNumbersPort" />
        </client>
    </system.serviceModel>
</configuration>