@{
   var titulo="andreudekker";
   string subtitulo="TiendaOficial";
   string mes="";
   switch(DateTime.Now.Month)
   {
       case 1: mes="Enero";
       break;
       case 2: mes="Febrero";
       break;
       case 3: mes="Marzo";
       break;
       case 4: mes="Abril";
       break;
       case 5: mes="Mayo";
       break;
       case 6: mes="Junio";
       break;
       case 7: mes="julio";
       break;
       case 8: mes="Agosto";
       break;
       case 9: mes="Septiembre";
       break;
       case 10: mes="Octubre";
       break;
       case 11: mes="Noviembre";
       break;
       case 12: mes="Diciembre";
       break;

       default: break;
   }
}

<!DOCTYPE html>

<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@titulo</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="css/miestilo.css"/>
     </head>
    <body>
             <div id="contenedor">
                 @RenderPage("includes/Cabecera.cshtml")
                 <section>
                        <div id="banner">espacio para banner</div>
                        <div id="destacados">Articulos destacados</div>
                 </section>
                 
                 @RenderPage("includes/PiedePagina.cshtml")            
             </div>
    
    </body>
</html>
