<div id="menutienda">
    <a href="tienda">ordenar por aparicion</a>
    <a href="tiendaprecio">ordenar por precio</a>  
    <a href="tiendapeso">ordenar por peso</a>    
    <a href="tiendaprecioinverso">ordenar por precio inverso</a>  
    <a href="tiendapesoinverso">ordenar por peso inverso</a>  
</div>