<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SQlActualizacion" connectionString="Server=ANDREU_\SQLEXPRESS;database=FastFood;Integrated security=TRUE" />
    <add name="WinFormActualizarSQl.Properties.Settings.Newcnn" connectionString="Data Source=ANDREUDEKKER_\SQLEXPRESS;Initial Catalog=FastFood;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

