<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CrudWinTrabajo.Properties.Settings.Nwcn" connectionString="Data Source=.;Initial Catalog=Persona;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>