<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >

                <add key="SqlServer" value="Sumaquina"/>
                <add key="SqlUser" value=""/>
                <add key="SqlPassword" value=""/>
                <add key="NtAutentication" value="True"/>

  </appSettings>
</configuration>