@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    <link rel="stylesheet" href="/css/admin.css">
    </head>
    <body>
       <div id="contenedor">
                <div id="menulateral">
                    <ul>
                        <li><a href="nuevoproductoform">Crear un nuevo producto</a></li>
                        <li><a href="listadoproductos">Ver la lista de productos</a></li>
                        <li><a href="EstadisticasVentas">Estadisticas de las ventas</a></li>
                        <li><a href="ventasDB">Estadisticas desde la DB</a></li>
                        <li><a href="VentasGraficoCirculo">EstadisticasventaporTipoDeProducto</a></li>
                        <li><a href="InformacionServidor.php">Informacion del servidor</a></li>
                    </ul>   
                </div>
                <div id="contenido">
                    
                 </div>  
                       
        </div>
    </body>
</html>
