@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
       
         
         @{
         var conexion =Database.Open("tienda");
         var peticion = conexion.Query("SELECT * FROM ventasmensuales");
        
         var myChart =new Chart(width:500,height:300)
         .AddTitle("VentasDB")
         .AddSeries(chartType:"Column",
         xValue:    peticion, xField:"mes",
         yValues:   peticion, yFields:"total"
         )
         .Write();
        }
    </body>
</html>
